---
---

body {
    background-color: black;
    color: white;
    font-family: 'DM Mono', 'Noto Sans TC', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0rem;
}

h1 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: rgb(255, 214, 10);
}

p.bio {
    margin: 0rem;
}

p.bio a {
    color: white !important;
    text-decoration: none;
}

p.links {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1.four-o-four {
    font-size: 6rem;
    color: rgb(255, 214, 10);
    margin: 0rem;
}

p.four-o-four {
    font-size: 2rem;
    margin: 0rem;
}

@media (max-width: 767px) {
    .content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 7rem;
    }
}

@media (min-width: 768px) {
    .content {
        max-width: 80%;
    }
}