<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div class="row mb-md-4">
            <div class="col-12 col-md-4 mb-md-0" style="margin-bottom: 2rem;">
                <img src="assets/images/portrait.jpg" alt="portrait of hao-yung" class="img-fluid">
            </div>
            <div class="d-none d-md-block col-md-8">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <p class="title mb-3 mb-md-0" style="text-transform: none;">Hao-yung Weng</p>
                <p>
                    haoyungw[at]cs.cmu.edu<br>
                    <a class="important" href="{{ '/assets/files/haoyungweng_resume.pdf' | relative_url }}">résumé</a>,
                    <a class="important" href="https://github.com/haoyungweng">github</a>,
                    <a class="important" href="https://www.linkedin.com/in/haoyungweng/">linkedin</a>
                </p>
            </div>
            <div class="col-12 col-md-8">
                {{ content }}
            </div>
        </div>
    </div>
</body>

</html>